.card {
  list-style-type: none;
  background-color: #b9a07c;
  margin: 0;
  padding: 20px;
  border-radius: 15px;
}

.card_leader {

}

.card_ministry {

}

.card_mission {

}

.card__container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  padding: 20px 0;
}
.card__subtitle {
  mar
}

.card__description {
  margin: 0;
  padding: 10px;
}

.card__link {
}

.card__image {
  max-width: 300px;
  max-height: 200px;
}

