.missions {
  display: grid;
}

.missions__title {
}

.missions__description {
  margin: 0;
  padding: 10px;
}

.missions__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 20px;
}
